# secrets / env
.env
.env.*
!.env.example
*.env

# node
node_modules/
dist/
build/
npm-debug.log*
yarn-error.log*
api.zip

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log

# cloudformation / sam
.aws-sam/
packaged.yaml
samconfig.toml

# misc
.DS_Store
*.log
